body{
  width:80%;
  display:block;
  margin:auto;
  background-color:rgb(243, 235, 235);
  margin-bottom:50px;
  
}

.questionCard {
  margin:10px 0px 0px 0px;
  border:3px solid #20639B;
  color:white;
  font-weight:bold;
  background-color: #173f5f;

}

.questionCard input:focus, .questionCard input{
  background-color: #173f5f;
  color:white;
  margin:0px !important;
}

#title{

  width: fit-content;
  padding:10px;
  border-radius: 5px;
  margin-top:10px;
  vertical-align: middle;
}

#headerDiv * {
  display: inline;
  
  
}

#headerDiv{
  width: fit-content;
  padding:10px;
  border-radius: 10px;
  display: block;
  margin:auto;
}

#logo{
  height:100px;
  width:100px;
  border-radius:400px;
  border:7px solid rgb(248,202,81);
  
}

.utilityButtons{
  margin-top:10px;
}

.deleteOptionButton{
  margin:10px;
}

#questionsHolder, #newQuestion, #alertDiv{
  width:80%;
  display:block;
  margin:auto;
  margin-bottom:30px;
}

#add_newQuestion{
  display:block;
  margin:10px auto;
  
}

.form-control:disabled, .form-control[readonly]{
  background-color: white;
}







